{% extends 'base.html' %}

{% block content %}
<div class="informace">
    <h1>Informace o našich službách</h1>
    <!-- Podrobnosti o službách -->
    <div class="sluzby">
        <div class="sluzba">
            <h2>Domov pro seniory</h2>
            <p>Detailní informace o domově pro seniory.</p>
        </div>
        <div class="sluzba">
            <h2>Odlehčovací služba</h2>
            <p>Informace o odlehčovacích službách a jejich výhodách.</p>
        </div>
    </div>
    <!-- Další informační sekce -->
</div>
{% endblock %}
